<div class="add-box">
  <div class="add-inner">
      <div class="add-tbl-title">例文編集</div>
        <div class="new-term-form">

			<%= render 'form', sentence: @sentence %>

			<%= link_to 'Show', @sentence %> |
			<%= link_to 'Back', sentences_path %>
		</div>
  </div>
</div>
