<div class="add-box">
  <div class="add-inner">
      <div class="add-tbl-title">引用作品作者編集</div>
        <div class="new-term-form">

			<%= render 'form', author: @author %>

			<%= link_to 'Show', @author %> |
			<%= link_to 'Back', authors_path %>
		</div>
  </div>
</div>